// Для розовой кнопки классы - btn btn__acent
// Для белой кнопки классы - btn btn__light

// Размер кнопки меняется в зависимости от размера экрана.
// Ниже значения которые нужно вставлять отдельно в зависимости от секции

//   padding: ваше значение;
//   border-radius: 22px или 20px;
//   font-size: ваше значение;

.btn {
  border: none;
 

  &__light {
    color: #d41443;
    background-color: #ffffff;
    

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
  }

  &__acent {
    color: #ffffff;
    background-color: #d41443;
   

    &:hover,
    &:focus {
      background-color: #c7133e;
    }
  }}

  // УГЛОВАЯ СТРЕЛКА
  
  // Стрелка белая - arrow
  // Стрелка розовая - arrow-acent
  // ваша кнопка должна выглядеть так:
  //  <button type="button" class="btn btn__acent">
  //   Read more <span class="ТУТ НУЖНЫЙ КЛАСС вашей стрелки"></span>
  // </button>
  
  .arrow {
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .arrow-acent {
    border: solid #d41443;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  
