.section--bicolor {
    
    background-image: linear-gradient(to bottom, #fff 21%, $section-background-color 21%, $section-background-color 75%);
}
.contacts {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: 60px;
    font-family: $main-font-style;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
}
.contacts__card {
    margin-left: 30px;
    flex-basis: calc((100% - 90px) / 3);
    padding: 40px;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}

.contacts__titles, .contacts__titles--green {
    color: #fff;
    text-align: center;
    border-radius: 6px;
    height: 30px;
    text-transform: uppercase;
    }


.contacts__titles {
    background-color: #F0D1A5;
    width: 75px;
&--green {
    background-color: #C2E297;
    width: 140px;
}}


.contacts__address {
    padding: 30px 0;
&--black {
    color: #000;}
}
.contacts__date {
    color: #000;}
.contacts__datetime {
    padding-top: 30px;

&--bottom {
    padding-bottom: 30px;  
}}
.contacts__address, .contacts__datetime--bottom {
    border-bottom: 1px solid #E1E1E1;
}

.contacts__text, .contacts__contact {
    color: #907E82;
}
.contacts__contact {
    padding-top: 30px;

&--beige {
    color: #907E82;
}}
.contacts__battons {
    display: flex;
    justify-content: center;
}
.contacts__time {
    color: $label-title-color;
}

.btn {
    transition: 400ms;
    font-size: 16px;
    line-height: 1.31;
    height: 45px;
    border-radius: 22px;
    padding: 0 35px 0 35px;
}
// .btn__light {
//     width: 180px;
   
// }
.btn__acent {
    
    margin-right: 15px;
}
@media (min-width: 769px) and (max-width: 1200px) {
    .contacts__content {
        font-size: 14px;
        
    }
    
}