/* Собственно сам слайдер */
.slider {
  max-width: 90%;

  margin: auto;
  height: 300px;
}
/* Картинка мастабируется по отношению к родительскому элементу */

.item {
  position: relative;
}

.img {
  width: 85px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

/* Заголовок слайда */
.slideText-box {
  position: relative;
}

.slideText-box::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 105px;
  display: inline-block;
  width: 54px;
  height: 40px;
  background: url(..//..//img/reviews/quotes@1.png) center/cover no-repeat;
  z-index: 50;
  
}

.slideText-bg {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  height: 138px;
  // background: linear-gradient(
  //   #fafafa 53%,
  //   #e1e1e1 53%,
  //   #e1e1e1 54%,
  //   #fafafa 54%,
  //   #fafafa 73%,
  //   #e1e1e1 73%,
  //   #e1e1e1 74%,
  //   #fafafa 74%,
  //   #fafafa 100%
  // );
  background:#FAFAFA;

  @media (min-width: 481px) and (max-width: 1200px) {
    height: 164px;  
  }
}

.slideText {
  position: absolute;
  top: 50px;
  width: 70%;
  left: 142px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  text-align: center;
  letter-spacing: 0.04em;

  color: $main-text-color;
  z-index: 100;
  background: repeating-linear-gradient(to bottom,transparent 0, transparent 27px,#E1E1E1 30px,#E1E1E1 20px);

  @media (min-width: 481px) and (max-width: 1200px) {
        
  }
}

.second-box {
  position: relative;
}

.dots {
  position: absolute;
  top: 255px;
  left: calc(50% - 20px);
}

.dots-pink {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: $main-color;
  border-radius: 50%;
}

.dots-pink:not(:last-child) {
  margin-right: 10px;
}

.name {
  margin-top: 50px;
  font-family: "DM Sans";
  font-size: 20px;
  line-height: 186%;
  text-align: center;
}

/* Кружочки */
.slider-dots {
  text-align: center;
  margin-top: 50px;
}
.slider-dots_item {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 18px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-image: url(..//..//img/reviews/house.png);
  background-color: transparent;
  border-radius: 0;
}

// Планшет

// @media (min-width: 481px) and (max-width: 1200px) {
//   .reviews {
//     display: none;
//   }
// }

// // ТЕЛЕФОН

// @media (max-width: 480px) {
//   .reviews {
//     display: none;
//   }
// }

/* Анимация слайдов */

.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
