<!-- <section class="section section--bicolor">
  <div class="container">
    <h2 class="section-title is-hidden">Contacts</h2>
    <ul class="contacts">
      <li class="contacts__card">
        <p class="contacts__titles">Cafe</p>
        <ul class="contacts__content">
          <li class="contacts__address">
            <h4 class="contacts__address--black">Chicago</h4>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts__datetime">
            <h4 class="contacts__date">Monday - Friday</h4>
            <time class="contacts__time">06:00 AM - 10:00 PM</time>
          </li>
          <li class="contacts__datetime--bottom">
            <h4 class="contacts__date">Saturday - Sunday</h4>
            <time class="contacts__time">08:00 AM - 16:00 PM</time>
          </li>
          <li class="contacts__contact">
            <a class="contacts__contact--beige" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts__contact--beige" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__card">
        <p class="contacts__titles--green">Food truck</p>
        <ul class="contacts__content">
          <li class="contacts__address">
            <h4 class="contacts__address--black">Los Angeles</h4>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts__datetime">
            <h4 class="contacts__date">Monday - Friday</h4>
            <time class="contacts__time">06:00 AM - 10:00 PM</time>
          </li>
          <li class="contacts__datetime--bottom">
            <h4 class="contacts__date">Saturday - Sunday</h4>
            <time class="contacts__time">08:00 AM - 16:00 PM</time>
          </li>
          <li class="contacts__contact">
            <a class="contacts__contact--beige" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts__contact--beige" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__card">
        <p class="contacts__titles">Cafe</p>
        <ul class="contacts__content">
          <li class="contacts__address">
            <h4 class="contacts__address--black">New York</h4>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts__datetime">
            <h4 class="contacts__date">Monday - Friday</h4>
            <time class="contacts__time">06:00 AM - 10:00 PM</time>
          </li>
          <li class="contacts__datetime--bottom">
            <h4 class="contacts__date">Saturday - Sunday</h4>
            <time class="contacts__time">08:00 AM - 16:00 PM</time>
          </li>
          <li class="contacts__contact">
            <a class="contacts__contact--beige" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts__contact--beige" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts__battons">
      <button type="button" class="btn btn__acent">
        Our locations <span class="arrow"></span>
      </button>
      <button type="button" class="btn btn__light">
        Franchise <span class="arrow-light"></span>
      </button>
    </div>
  </div>
</section> -->
