// Шрифты
$main-font-style: 'DM Sans', sans-serif;
$second-font-style: 'Titan One', cursive;

// Цвета
$main-color: #D41443;
$main-text-color: #000000;
$second-text-color: #FFFFFF;
$main-button-color: #D41342;
$main-background-color: #FFB8CA;
$label-title-color: #FFA5BA;
$section-background-color: #FFF5F6;